@import './common/var.css';

.tk-collapse-item {
  &__title {
    .tk-cell__right-icon::before {
      transition: .3s;
      transform: rotate(90deg);
    }

    &::after {
      visibility: hidden;
    }
  }

  &__content {
    padding: 15px;
    background-color: #fff;
  }

  &--expanded {
    .tk-collapse-item__title {
      .tk-cell__right-icon::before {
        transform: rotate(-90deg);
      }

      &::after {
        visibility: visible;
      }
    }
  }
}
